<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Здравствуйте, выберите пожалуйста производителя</div>
<div><a href="/wichOfEps">Epson</a></div>
<div><a href="/wichOfBrother">Brother</a></div>
<div><a href="/wichOfCanon">Canon</a></div>
<div><a href="/wichOfSamsung">Samsung</a></div>
</body>
</html>