<!DOCTYPE HTML>
<html>
<body>
<div> Выберите пожалуйста свой картридж </div>
{{#findCart}}
    <div>
        <b>{{vendor}}</b>
        <span>{{description}}</span>
        <i>{{article}}</i>
        <i>{{color}}</i>
    </div>
{{/findCart}}
</body>
</html>