<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Вас интересуют принтеры или картриджи?</div>
<div><a href="/canonPrinters">Принтеры Canon</a></div>
<div><a href="/canonCartriges">Картриджи Canon</a></div>
</body>
</html>