<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Вас интересуют принтеры или картриджи?</div>
<div><a href="/brotherPrinters">Принтеры Brother</a></div>
<div><a href="/brotherCartriges">Картриджи Brother</a></div>
</body>
</html>