<!DOCTYPE HTML>
<html>

<body>
<div> Выберите пожалуйста производителя </div>
{{#vendors}}
    <div>
        <a href="/getCartrigeByVendor/{{id}}">
            <b>{{name}}</b>
    </div>
{{/vendors}}
</body>
</html>